.titlePrincipal{
    font-size: 35px;
    text-align: left;
    font-family: fantasy;
}


body{
    background-color:burlywood;
}


.allText{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.text1{
    font-size: 25px;
    font-family: monospace;
}


.text2{
    font-size: 25px;
    font-family: monospace;
}


.text3{
    font-size: 25px;
    font-family: monospace;
}


.text4{
    font-size: 25px;
    font-family: monospace;
}


.text5{
    font-size: 25px;
    font-family: monospace;
}


.text6{
    font-size: 25px;
    font-family: monospace;
}

.text7{
    font-size: 25px;
    font-family: monospace;
}

.text8{
    font-size: 25px;
    font-family: monospace;
}


.text9{
    font-size: 25px;
    font-family: monospace;                                                         
}


.text10{
    font-size: 25px;
    font-family: monospace;
}


.text12{
    font-size: 25px;
    font-family: monospace;
}


.text13{
    font-size: 25px;
    font-family: monospace;
}


.text14{
    font-size: 25px;
    font-family: monospace;
}


.text15{
    font-size: 25px;
    font-family: monospace;
}


.text16{
    font-size: 25px;
    font-family: monospace;
}


.red1{
    width: 300px;
    height: 200px;
}


.red2{
    width: 300px;
    height: 200px;
}


.red3{
    width: 300px;
    height: 200px;
}


.red4{
    width: 300px;
    height: 200px;
}


.red5{
    width: 300px;
    height: 200px;
}


.red6{
    width: 300px;
    height: 200px;
}


.red7{
    width: 300px;
    height: 200px;
}


.red8{
    width: 300px;
    height: 200px;
}

.red9{
    width: 300px;
    height: 200px;
}


.red10{
    width: 300px;
    height: 200px;
}


.red11{
    width: 300px;
    height: 200px;
}


.red12{
    width: 300px;
    height: 200px;
}


.red13{
    width: 300px;
    height: 200px;
}


.red14{
    width: 300px;
    height: 200px;
}


.red15{
    width: 300px;
    height: 200px;
}


.red16{
    width: 300px;
    height: 200px;
}


.end{
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
}