.titlePrincipal{
    font-size: 30px;
    text-align: left;
    font-family: sans-serif;
}


body{
    background-color:burlywood;
}


.allText{
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

.text1{
    font-size: 20px;
    font-family: monospace;
}


.text2{
    font-size: 20px;
    font-family: monospace;
}


.text3{
    font-size: 20px;
    font-family: monospace;
}

.red1{
    width: 250px;
    height: 150px;
}


.red2{
    width: 250px;
    height: 150px;
}


.red3{
    width: 250px;
    height: 150px;
}


.red4{
    width: 250px;
    height: 150px;
}